.largefont {
  font-size: 25px;
}
li {
  margin-bottom: 20px;
}
.container1 {
  height: 90vh;
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}

.container2 {
  background-color: dimgrey;
  height: 70vh;
  padding-right: 15px;
  padding-left: 10px;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container3 {
  background-color: midnightblue;
  color: aliceblue;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container4 {
  background-color: midnightblue;
  color: aliceblue;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container5 {
  background-color: midnightblue;
  color: aliceblue;
  padding-right: 15px;
  padding-left: 10px;
  height: 90vh;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #30336b;
}
footer p {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }
}
