.ReviewForm {
  background: white;
  width: 80%;
  border-radius: 6px;
  color: black;
  margin: 0 auto 0 auto;
  padding: 0px 40px 20px 40px;
  border: #2980b9 4px solid;
}
p {
  font-size: 16px;
  text-decoration: none;
}
