.App {
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 80%;
  margin: 0 auto;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  color: white
}

.App__header {
  padding-left: 20px;
  padding-right: 20px;
}

.App__main {
  height: calc(100vh - 70px);
  overflow: auto;
  margin-top: 10px;
  padding-bottom: 40px;
}
img {
  max-width: 100%;
  display: block;
}
@media (min-width: 601px) {
  .App {
    max-width: none;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
