.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
  