form {
  font-size: 20px;
  border-radius: 6px;
  border-style: solid;
  background-color: rgb(20, 86, 86);
  padding: 2%;
}

select {
  width: 75%;
  padding: 16px 20px;
  border: none;
  border-radius: 6px;
  background-color: #f1f1f1;
}
