.ResourceListItem {
  background: none;
  border: 0;
  border-bottom: 1px solid #3f455038;
  font-size: smaller;
  display: block;
  padding: 10px 10px 0;
  text-align: left;
  width: 100%;
  text-decoration: none;
}
button {
  background-color: #555555;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 4px;
}

.ResourceListItem:hover {
  cursor: pointer;
  background-color: #f7f8f9;
}

.ResourceListItem,
.ResourceListItem:visited {
  color: #555;
}

.ResourceListItem__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.ResourceListItem__heading {
  margin: 0;
}

.ResourceListItem__author {
  font-weight: bold;
  color: #555;
}

.ResourceListItem__date {
  display: none;
}

.ResourceListItem__footer {
  padding: 10px 0;
}

.ResourceListItem__comment-count {
  float: right;
  font-size: 1.3em;
}

.ResourceListItem__comment-count .fa-layers-text {
  left: 50%;
  top: 44%;
  font-family: Arial;
  font-weight: bold;
  font-size: smaller;
}

@media screen and (min-width: 440px) {
  .ResourceListItem__date {
    display: initial;
  }
}
